<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <!-- 条件分岐でユーザ登録か更新かのタイトルにする -->
      <div class="panel-heading">ユーザ登録</div>
      
        <%= render "form_body", user: user %>
        
              
    </div>
    
  </div>
</div>