<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">ユーザ編集</div>
        <%= render "form_body", user: @user %>
       
    </div>
  </div>
</div>


