<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(new_book_path, method: :get, class: "form-inline") do %>
        <div class="form-group">
          <%= text_field_tag :keyword, @keyword, class: "form-control input-lg", placeholder: "読書会で使う本を入力してください", size: 35 %>
        </div>
        <%= submit_tag "検索", class: "btn btn-success dbtn-lg" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'books', books: @books %>