<%# if logged_in? %>
    
<%# else %>

<% unless logged_in? %>    
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Let's Reading Circle!</h1>
        </div>
        
    </div>
<% end %>    
    
    <%= render "circles/circles", circles: @circles %>